services:
  db:
    image: postgres:16
    container_name: app_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 30

  api:
    build:
      context: .
    container_name: app_api
    env_file:
      - .env
    environment:
      # можно не дублировать, но иногда удобно явно прокинуть:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      APP_HOST: ${APP_HOST}
      APP_PORT: ${APP_PORT}
      DB_ECHO: ${DB_ECHO}
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - venv:/app/.venv
    ports:
      - "8000:8000"
    command: >
      sh -c "alembic upgrade head
      && uvicorn app.main:app --host ${APP_HOST} --port ${APP_PORT} --reload --reload-dir /app"
volumes:
  pgdata:
  venv:
