.content{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.header{
    display: flex;
    padding: 20px 0;
    margin-bottom: 1vh;
}

.header .header-navigation{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}
a {
    all: unset;
    cursor: pointer;
    color: inherit;

}